<div class="three columns">

    {% if GITHUB_URL %}
      <div class="btn primary"><a href="{{ GITHUB_URL }}" target="_blank">Github</a></div>
    {% endif %}

    {% if TWITTER_URL %}
      <div class="btn twitter"><a href="{{ TWITTER_URL }}" target="_blank">Twitter</a></div>
    {% endif %}

    {% if FACEBOOK_URL %}
      <div class="btn facebook"><a href="{{ FACEBOOK_URL }}" target="_blank">Facebook</a></div>
    {% endif %}

    {% if GOOGLEPLUS_URL %}
      <div class="btn danger"><a href="{{ GOOGLEPLUS_URL }}" target="_blank">Google+</a></div>
    {% endif %}

    <hr/>

<!--
<h4>Pages</h4>

 <ul>
  {% for title, link in MENUITEMS %}
      <li><a href="{{ link }}">{{ title }}</a></li>
  {% endfor %}
  {% if DISPLAY_PAGES_ON_MENU %}
    {% for p in PAGES %}
      <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
    {% endfor %}
  {% else %}
    {% if DISPLAY_CATEGORIES_ON_MENU %}
      {% for cat, null in categories %}
        <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
      {% endfor %}
    {% endif %}
  {% endif %}
  </ul>

<h4>Catégories</h4>
{% if categories %}
<ul>
	{% for cat, null in categories %}
		<li><a href="{{ SITEURL }}/{{ cat.url|e }}">{{ cat }}</a></li>
	{% endfor %}
</ul>
{% endif %}

-->
<h4>Tags</h4>
{% if tags %}
	<ul id="sidebar-tags">
	{% for (tag, articles) in tags %}
	    <li class="tag tag-{{ articles|length }}"><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag|e }}</a></li>
	{% endfor %}
</ul>
{% endif %}


{% if SOCIAL %}
<nav class="widget">
  <h4>Social</h4>
  <ul>
  {% for name, url in SOCIAL %}
    <li><a href="{{ url|e }}">{{ name }}</a></li>
  {% endfor %}
  </ul>
</nav>
{% endif %}

</div>
